{% extends "main.html" %}

{% block content %}

<!-- Sekcja tytułów -->
<h1 style="margin-top: 50px; margin-bottom: 20px; text-align: center;">
  <p style="font-size: 1.3rem;">
    <b>Jak pracujemy w ramach programu EDIH?</b>
  </p>
</h1>

<h2 style="margin-top: 20px; margin-bottom: 40px; text-align: center;">
  <p style="font-size: 1rem;">
    W ramach programu EDIH pracujemy w oparciu o 4 strategiczne narzędzia:
  </p>
</h2>

<section class="tools-timeline-section" style="padding: 2rem 0;">
  <!-- Pierwsza karta -->
  <div class="tools-timeline-item">
    <div class="tools-content-box">
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="/EDIH-delab/assets/icon_t1.png" alt="Ikona" class="icon-in-title">
        <h3 style="color: #422B6F; margin: 0;"><b>Digital Maturity Assessment (DMA)</b></h3>
      </div>
      <p>Kompleksowa ocena dojrzałości cyfrowej Twojej firmy. Zidentyfikujemy mocne strony oraz obszary wymagające wzmocnienia, abyś mógł skutecznie wdrażać nowe technologie, dopasowane do specyfiki swojego modelu biznesowego. Dzięki temu dowiesz się, gdzie warto inwestować, by osiągnąć największe efekty.</p>
    </div>
  </div>

  <!-- Druga karta -->
  <div class="tools-timeline-item">
    <div class="tools-content-box">
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="/EDIH-delab/assets/icon_t2.png" alt="Ikona" class="icon-in-title">
        <h3 style="color: #422B6F; margin: 0;"><b>Innovation Health Check (IHC)</b></h3>
      </div>
      <p>Analiza innowacyjności Twojej firmy, która pozwoli ocenić gotowość na wprowadzenie nowych rozwiązań technologicznych. Sprawdzimy, jak Twoja firma może najlepiej wykorzystać innowacje, by zwiększyć swoją konkurencyjność na rynku.</p>
    </div>
  </div>

  <!-- Trzecia karta -->
  <div class="tools-timeline-item">
    <div class="tools-content-box">
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="/EDIH-delab/assets/icon_t3.png" alt="Ikona" class="icon-in-title">
        <h3 style="color: #422B6F; margin: 0;"><b>Business Model Canvas</b></h3>
      </div>
      <p>Wspólna analiza modelu biznesowego Twojej firmy, która pokaże, w jakich obszarach cyfryzacja przyniesie największe korzyści. Zidentyfikujemy kluczowe procesy i wskażemy, jak zastosować narzędzia cyfrowe, aby zwiększyć efektywność działania i generować większe zyski.</p>
    </div>
  </div>

  <!-- Czwarta karta -->
  <div class="tools-timeline-item">
    <div class="tools-content-box">
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="/EDIH-delab/assets/icon_t4.png" alt="Ikona" class="icon-in-title">
        <h3 style="color: #422B6F; margin: 0;"><b>Coaching Biznesowy w zakresie procesu cyfryzacji firmy</b></h3>
      </div>
      <p>Nasze wsparcie to nie tylko technologia, ale również rozwój kompetencji miękkich kluczowych pracowników i pracowniczek Twojej firmy. Coaching biznesowy pomoże Twojemu zespołowi efektywnie korzystać z narzędzi cyfrowych i lepiej zarządzać procesami cyfryzacji, co przełoży się na realne korzyści dla Twojej firmy.</p>
    </div>
  </div>
</section>


<br></br>

<section style="padding: 2rem 0;">
  <b style="color: #422B6F; font-size: 1.3rem; display: block; text-align: center; margin-bottom: 20px;">Dodatkowe wsparcie, które otrzymasz:</b>
  
  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px;">

    <!-- Pierwszy kwadrat -->
    <div style="background-color: #f8f8f8; padding: 1rem; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <h3 style="color: #422B6F; font-size: 1rem; margin-bottom: 10px;">Doradztwo w zakresie pozyskiwania funduszy</h3>
      <p>Pomożemy Ci zdobyć środki finansowe na opracowanie i wdrożenie innowacyjnych produktów, usług lub procesów technologicznych.</p>
    </div>

    <!-- Drugi kwadrat -->
    <div style="background-color: #f8f8f8; padding: 1rem; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <h3 style="color: #422B6F; font-size: 1rem; margin-bottom: 10px;">Pomoc w znalezieniu dostawców rozwiązań cyfrowych</h3>
      <p>Dobierzemy odpowiednich partnerów technologicznych, którzy najlepiej odpowiedzą na potrzeby Twojej firmy.</p>
    </div>

    <!-- Trzeci kwadrat -->
    <div style="background-color: #f8f8f8; padding: 1rem; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <h3 style="color: #422B6F; font-size: 1rem; margin-bottom: 10px;">Ekspercka wiedza</h3>
      <p>Program prowadzą eksperci i naukowcy z DELab Uniwersytet Warszawski oraz Enterprise Europe Network.</p>
    </div>

    <!-- Czwarty kwadrat -->
    <div style="background-color: #f8f8f8; padding: 1rem; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <h3 style="color: #422B6F; font-size: 1rem; margin-bottom: 10px;">Dodatkowe indywidualne wsparcie coachingowe</h3>
      <p>Po zakończonym programie możesz skorzystać z 1,5 h dodatkowego indywidualnego wsparcia coachingowego.</p>
    </div>

  </div>

</section>

<br></br>

<img src="/EDIH-delab/assets/title.png" alt="delab photo" style="width: 100%; height: 100%; object-fit: contain; display: block;">





{% endblock %}
