html {
    scroll-behavior: smooth;
  }


.custom-header-image {
    display: block;
    margin: 0; 
    max-width: 50%; 
    height: auto; 
    position: absolute;
    top: 3.7em; /* Dopasuj wysoko od g贸ry */
    left: 1.5em; /* Dopasuj szeroko od lewej */
}

.custom-icon-image {
  display: block;
  margin: 0; 
  max-width: 50%; 
  height: auto; 
  max-height: 700px;
  position: absolute;
  top: 3.7em; /* Dopasuj wysoko od g贸ry */
  left: 2em; /* Dopasuj szeroko od lewej */
}

.custom-jpg-image {
  display: block;
  margin: 0; 
  max-width: 50%; 
  height: auto; 
  position: absolute;
  top: 3.7em; /* Dopasuj wysoko od g贸ry */
  left: 1.5em; /* Dopasuj szeroko od lewej */
}

/* media queries, aby dopasowa rozmiar logo na mniejszych ekranach */
@media screen and (max-width: 768px) {
  .custom-header-image {
      max-width: 50%; /* Zmniejsz rozmiar logo na mniejszych ekranach */
      top: 3.7em; /* Dopasuj marginesy */
      left: 1em; /* Dopasuj marginesy */
  }
}

/* wysoko nawigacji po lewej */
.md-nav.md-nav--primary {
  padding-top: 45px; /* Zwiksz odstp od g贸ry */
}

/*  wysoko nawigacji po prawej > */
.md-nav.md-nav--secondary {
  padding-top: 30px; 
}

[data-md-color-scheme="delab"] {
  --md-primary-fg-color:        white;
  --md-accent-fg-color:         #034A76;
  --md-accent-bg-color:         #034A76;
  --md-code-hl-color:           #034A76;
}

[data-md-color-scheme="delab"] footer {
  background-color: white;
  color: #034A76; /* Mo偶esz zmieni kolor tekstu, aby by czytelny */
}

[data-md-color-scheme="delab"] h1,
[data-md-color-scheme="delab"] h2,
[data-md-color-scheme="delab"] h3,
[data-md-color-scheme="delab"] h4,
[data-md-color-scheme="delab"] h5,
[data-md-color-scheme="delab"] h6 {
  color: #034A76; /* Zmienia kolor nag贸wk贸w na czarny */
}

/* Zmiana koloru tytuu strony */
.md-header__title {
  color: #034A76; /* Wybierz kolor, np. niebieski */
}

/* Ustawienie koloru dla zakadek */
[data-md-color-scheme="delab"] .md-tabs__link {
  color: #034A76 !important; /* Tw贸j kolor wybrany */
}

/* Zmiana koloru aktywnej zakadki */
[data-md-color-scheme="delab"] .md-tabs__item--active .md-tabs__link {
  color: #034A76 !important; /* Kolor aktywnej zakadki */
  font-weight: bold; /* Pogrubienie aktywnej zakadki */
}

/* Zmiana koloru zakadki po najechaniu */
[data-md-color-scheme="delab"] .md-tabs__link:hover {
  color: #034A76 !important; /* Kolor po najechaniu */
}


h1.custom-header-title {
  margin-top: 20px;
}


/* Kontener karty */
.timeline-item {
  text-align: center;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px; /* Staa szeroko karty */
  height: 400px; /* Staa wysoko karty */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* R贸wnomierne rozo偶enie element贸w */
  box-sizing: border-box; /* Uwzgldnia padding w wysokoci */
}


/* Zamiast rely on, override any problematic 'img' class size properties */
img {
  max-width: none; /* Przeamuje domylne skalowanie */
}

/* Styl dla pudeek tekstowych */
.tools-content-box {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

/* Ukryj boczne nawigacje na du偶ych ekranach */
/* Ukryj boczne nawigacje i rozcignij tre na du偶ych ekranach */
@media screen and (min-width: 1024px) {
  .md-sidebar--primary,
  .md-sidebar--secondary {
    display: none;
  }

 .md-main__inner {
    grid-template-columns: 1fr !important; /* Rozcignij tre */
  }

 .md-content {
    max-width: 100%; /* Rozcignij tre na ca szeroko */
    width: 100%;
    margin: 0;
  }

 .md-main {
    padding: 0; /* Usu padding, jeli jest */
    margin: 0 auto; /* Wyr贸wnaj tre */
  }

 .md-container {
    max-width: 100%; /* Rozcignij ca sekcj na ca szeroko strony */
    width: 100%;
  }
}


label.md-header__button.md-icon::before {
  content: '';
  display: inline-block;
  background-image: url('assets/menu1.png'); /* Wska偶 swoj ikon */
  background-size: contain;
  width: 24px;
  height: 24px;
}

/* Ukryj oryginalne SVG */
label.md-header__button.md-icon svg {
  display: none;
}


/* Wymuszenie biaego tekstu na przycisku */
.info-button {
  background-color: #034A76; /* Ciemnoniebieski kolor przycisku */
  color: #FFFFFF !important; /* Wymuszenie biaego tekstu */
  text-decoration: none; /* Usunicie podkrelenia */
  padding: 15px 30px; /* Wiksze wewntrzne odstpy */
  border-radius: 50px; /* Mocno zaokrglone rogi */
  font-size: 1.3em; /* Wikszy rozmiar tekstu */
  font-weight: bold; /* Pogrubienie tekstu */
  display: inline-block; /* Blokowy styl dla stylizacji */
  transition: all 0.3s ease; /* Pynna animacja na hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lekki cie */
}

/* Hover z ciemnoniebieskim kolorem */
.info-button:hover {
  background-color: #0D3E5C; /* Ciemniejszy niebieski przy najechaniu */
  color: #FFFFFF !important; /* Wymuszenie biaego tekstu przy hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Wikszy cie przy hover */
  transform: translateY(-2px); /* Subtelne uniesienie przycisku */
}

/* Styl dla Dzie 1 */
.day-title {
  color: #555; /* Niebieski kolor */
  font-weight: bold; /* Pogrubienie */
  font-size: 1.2em; /* Wikszy rozmiar tekstu */
}

/* Styl dla daty */
.day-subtitle {
  color: #555; /* Szary kolor */
  font-size: 0.9em; /* Mniejszy rozmiar tekstu */
  font-weight: normal; /* Normalna waga tekstu */
}



.event {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Dopasowanie element贸w w pionie do g贸ry */
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 10px; /* Wikszy odstp midzy kolumnami */
}

/* Lewa strona wydarzenia */
.event-left {
  width: 40%; /* Ustal sta szeroko lewej strony */
}

/* Prawa strona wydarzenia */
.event-right {
  width: 60%; /* Ustal sta szeroko prawej strony */
  font-size: 1.1em;
  color: #555;
  line-height: 1.4;
  margin-top: -10px; /* Opcjonalne przesunicie */
}

/* Tytu wydarzenia */
.event-title {
  font-size: 1.1em;
  margin-bottom: 20px;
}



/* Jasnoszare to */
.about-section {
  background-color: #f7f7f7;
  padding: 40px 20px;
  border-radius: 10px;
}


/* Nag贸wek sekcji */
.about-title {
  text-align: center;
  font-size: 1.8em;
  color: #034A76;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* Opis sekcji */
.about-text {
  text-align: center;
  font-size: 1em;
  color: #555555;
  margin-bottom: 30px;
}

/* Kontener obszar贸w tematycznych */
.topics-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Pojedynczy temat */
.topic {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Ikonka tematu */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #e9f5fc;
  border-radius: 50%;
}

/* Tekst tematu */
.topic-content h3 {
  margin: 0;
  font-size: 1.2em;
  color: #034A76;
}

.topic-content p {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #555555;
}



/* Kontener g贸wny agendy */
.agenda-container {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;
  font-family: Barlow, sans-serif;
}
/* Sekcja dni */
.agenda-days {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.agenda-day {
  background-color: #f0f0f0;
  color: #333;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.agenda-day.active {
  background-color: #2c85c993;
  color: #fff;
}
/* Harmonogram */
.agenda-schedule {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Domylnie ukryte */
}
.agenda-schedule.active {
  display: block;
}
.agenda-schedule h3 {
  color: #034A76;
  margin-bottom: 10px;
}
.event {
  margin-bottom: 15px;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.event:last-child {
  border-bottom: none;
}
.event-time {
  font-weight: bold;
  color: #555;
  margin-top: -5px;
}
.event-title {
  color: #333;
  margin-top: 2px;
  font-weight: bold;
  margin-bottom: 35px;}


.language-switch {
    margin-left: auto; /* Umieszcza element maksymalnie na prawo */
    background-color: #034A76;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.language-switch:hover {
    background-color: #155b83; /* Zmiana koloru na hover */
}

.hidden {
  display: none;
}

.about-text-call {
  font-weight: bold;
}

.topic-content-class {
  text-align: justify;
  line-height: 1.5;
}

.info-button {
        background-color: #034A76; /* Domylny kolor */
        color: #FFFFFF;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 50px;
        font-size: 1.3em;
        font-weight: bold;
        display: inline-block;
        transition: all 0.3s ease;
        margin: 0 10px;
}

.info-button:hover {
        background-color: #0D3E5C; /* Kolor przy hover */
}

    /* Styl dla zablokowanego przycisku */
.info-button.disabled {
        background-color: #2c84c9; /* Szary kolor */
        color: #666666; /* Przygaszony tekst */
        /*cursor: not-allowed; /* Ikona zablokowania */
        /*pointer-events: none; /* Wycza klikanie */
}

.info-button.disabled:hover {
        background-color: #1e5b89; /* Bez zmiany koloru przy hover */
        color: #666666;
}


.map-container {
        display: flex; /* Ustawia ukad flexbox */
        gap: 20px; /* Odstp midzy map a zdjciem */
        align-items: center; /* Wyrodkowanie element贸w w pionie */
        justify-content: center; /* Wyrodkowanie caego kontenera */
        max-width: 100%;
        margin: 20px auto;
        padding: 10px;
}

.map-container iframe {
        flex: 1; /* Mapka zajmuje tyle miejsca, ile jest dostpne */
        max-width: 600px; /* Maksymalna szeroko mapy */
        height: 450px; /* Staa wysoko mapy */
}

.map-image {
      flex: none; /* Wycza automatyczne dostosowywanie rozmiaru zdjcia */
      width: 450px; /* Szeroko zdjcia */
      height: auto; /* Zachowuje proporcje zdjcia */
      border-radius: 10px; /* Zaokrglone rogi zdjcia */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lekki cie */
      object-fit: cover; /* Dopasowuje zdjcie do kontenera */
}
  

.center-title {
    text-align: center;
    font-size: 40rem;
}

.location-container {
  font-size: 1.3em;
}

.location-icon {
  margin-top: 20px;
}

.logo-container {
  text-align: left;  /* Logo wyr贸wnane maksymalnie do lewej */
  margin-top: -20px; /* Dopasowanie odstpu */
  margin-bottom: 10px; /* Dystans nad sekcj lokalizacji */
  padding-left: 20px; /* Odsunicie od krawdzi ekranu */
}

.logo-container img {
  width: 120px; /* Domylny rozmiar logo */
  height: auto; /* Utrzymanie proporcji */
  display: inline-block;
}

/*  RESPONSYWNO - Zmniejsz logo na mniejszych ekranach */
@media (max-width: 768px) {
  .logo-container img {
      width: 90px; /* Mniejsze logo na tabletach */
  }
}

@media (max-width: 480px) {
  .logo-container img {
      width: 70px; /* Jeszcze mniejsze logo na telefonach */
  }
}
