html {
    scroll-behavior: smooth;
  }


.custom-header-image {
    display: block;
    margin: 0; 
    max-width: 50%; 
    height: auto; 
    position: absolute;
    top: 3.7em; /* Dopasuj wysokość od góry */
    left: 1.5em; /* Dopasuj szerokość od lewej */
}

.custom-icon-image {
  display: block;
  margin: 0; 
  max-width: 50%; 
  height: auto; 
  max-height: 700px;
  position: absolute;
  top: 3.7em; /* Dopasuj wysokość od góry */
  left: 2em; /* Dopasuj szerokość od lewej */
}

.custom-jpg-image {
  display: block;
  margin: 0; 
  max-width: 50%; 
  height: auto; 
  position: absolute;
  top: 3.7em; /* Dopasuj wysokość od góry */
  left: 1.5em; /* Dopasuj szerokość od lewej */
}

/* Dodatkowo możesz dodać media queries, aby dopasować rozmiar logo na mniejszych ekranach */
@media screen and (max-width: 768px) {
  .custom-header-image {
      max-width: 50%; /* Zmniejsz rozmiar logo na mniejszych ekranach */
      top: 3.7em; /* Dopasuj marginesy */
      left: 1em; /* Dopasuj marginesy */
  }
}

/* wysokość nawigacji po lewej */
.md-nav.md-nav--primary {
  padding-top: 45px; /* Zwiększ odstęp od góry */
}

/*  wysokość nawigacji po prawej > */
.md-nav.md-nav--secondary {
  padding-top: 30px; 
}

[data-md-color-scheme="delab"] {
  --md-primary-fg-color:        #422B6F;
  --md-accent-fg-color:         #422B6F;
  --md-accent-bg-color:         #422B6F;
  --md-code-hl-color:           #422B6F;
}

[data-md-color-scheme="delab"] footer {
  background-color: #422B6F;
  color: white; /* Możesz zmienić kolor tekstu, aby był czytelny */
}

[data-md-color-scheme="delab"] h1,
[data-md-color-scheme="delab"] h2,
[data-md-color-scheme="delab"] h3,
[data-md-color-scheme="delab"] h4,
[data-md-color-scheme="delab"] h5,
[data-md-color-scheme="delab"] h6 {
  color: #422B6F; /* Zmienia kolor nagłówków na czarny */
}

/*
.md-typeset .admonition,
.md-typeset details {
  border-color: #422B6F;
}

.md-typeset .admonition-title,
.md-typeset summary {
  background-color: #3485c82d;
}
*/

h1.custom-header-title {
  margin-top: 20px;
}


/* Stylizacja dla admonition "program" */
.md-typeset .admonition.program {
  border-color: #01B1E9; /* Fioletowa ramka */
  background-color: #F2F2F2; /* Jasny fiolet dla tła */
}

.md-typeset .admonition.program .admonition-title {
  background-color: #F2F2F2; /* Ciemniejszy fiolet dla tytułu */
  color: #ffffff;
}

/* Stylizacja dla admonition "actions" */
.md-typeset .admonition.actions {
  border-color: #01B1E9; /* Niebieska ramka */
  background-color: #F2F2F2; /* Jasny niebieski dla tła */
}

.md-typeset .admonition.actions .admonition-title {
  background-color: #F2F2F2; /* Ciemniejszy niebieski dla tytułu */
  color: #ffffff;
}

/* Stylizacja dla admonition "mission" */
.md-typeset .admonition.mission {
  border-color: #01B1E9; /* Zielona ramka */
  background-color: #F2F2F2; /* Jasny zielony dla tła */
}

.md-typeset .admonition.mission .admonition-title {
  background-color: #F2F2F2; /* Ciemniejszy zielony dla tytułu */
  color: #ffffff;
}


/* Kontener karty */
.timeline-item {
  text-align: center;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px; /* Stała szerokość karty */
  height: 400px; /* Stała wysokość karty */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Równomierne rozłożenie elementów */
  box-sizing: border-box; /* Uwzględnia padding w wysokości */
}

/* Ikony */
.timeline-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 0.5rem;
}

/* Nagłówki */
.timeline-item h3 {
  color: #422B6F;
  font-size: 1.2rem; /* Stały rozmiar czcionki nagłówka */
  margin-bottom: 0.3rem;
}

/* Tekst w kartach */
.timeline-item p {
  font-size: 0.8rem; /* Stały rozmiar czcionki dla wszystkich kart */
  line-height: 1.5; /* Spójne odstępy między wierszami */
  margin: 0; /* Brak dodatkowych marginesów */
  overflow: hidden; /* Zapobiega przewijaniu */
  display: block; /* Utrzymanie spójnego układu */
}

/* Ograniczenie wysokości tekstu, aby wszystko mieściło się w karcie */
.timeline-item p {
  max-height: 6rem; /* Dostosuj maksymalną wysokość tekstu do swojej treści */
  white-space: normal; /* Zawijanie tekstu */
}



/* Kontener dla elementów timeline */
.tools-timeline-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Styl dla ikon w kształcie koła */
.tools-timeline-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #422B6F;
  padding: 5px;
  display: inline-block; /* Upewnia się, że element działa jako blok w liniach */
  object-fit: cover;
  box-sizing: border-box; /* Uwzględnia padding w szerokości/wysokości */
}

/* Zamiast rely on, override any problematic 'img' class size properties */
img {
  max-width: none; /* Przełamuje domyślne skalowanie */
}

/* Styl dla pudełek tekstowych */
.tools-content-box {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}


