html {
    scroll-behavior: smooth;
  }


.custom-header-image {
    display: block;
    margin: 0; 
    max-width: 50%; 
    height: auto; 
    position: absolute;
    top: 3.7em; /* Dopasuj wysokość od góry */
    left: 1.5em; /* Dopasuj szerokość od lewej */
}

.custom-icon-image {
  display: block;
  margin: 0; 
  max-width: 50%; 
  height: auto; 
  max-height: 700px;
  position: absolute;
  top: 3.7em; /* Dopasuj wysokość od góry */
  left: 2em; /* Dopasuj szerokość od lewej */
}

.custom-jpg-image {
  display: block;
  margin: 0; 
  max-width: 50%; 
  height: auto; 
  position: absolute;
  top: 3.7em; /* Dopasuj wysokość od góry */
  left: 1.5em; /* Dopasuj szerokość od lewej */
}

/* media queries, aby dopasować rozmiar logo na mniejszych ekranach */
@media screen and (max-width: 768px) {
  .custom-header-image {
      max-width: 50%; /* Zmniejsz rozmiar logo na mniejszych ekranach */
      top: 3.7em; /* Dopasuj marginesy */
      left: 1em; /* Dopasuj marginesy */
  }
}

/* wysokość nawigacji po lewej */
.md-nav.md-nav--primary {
  padding-top: 45px; /* Zwiększ odstęp od góry */
}

/*  wysokość nawigacji po prawej > */
.md-nav.md-nav--secondary {
  padding-top: 30px; 
}

[data-md-color-scheme="delab"] {
  --md-primary-fg-color:        white;
  --md-accent-fg-color:         #034A76;
  --md-accent-bg-color:         #034A76;
  --md-code-hl-color:           #034A76;
}

[data-md-color-scheme="delab"] footer {
  background-color: white;
  color: #034A76; /* Możesz zmienić kolor tekstu, aby był czytelny */
}

[data-md-color-scheme="delab"] h1,
[data-md-color-scheme="delab"] h2,
[data-md-color-scheme="delab"] h3,
[data-md-color-scheme="delab"] h4,
[data-md-color-scheme="delab"] h5,
[data-md-color-scheme="delab"] h6 {
  color: #034A76; /* Zmienia kolor nagłówków na czarny */
}

/* Zmiana koloru tytułu strony */
.md-header__title {
  color: #034A76; /* Wybierz kolor, np. niebieski */
}

/* Ustawienie koloru dla zakładek */
[data-md-color-scheme="delab"] .md-tabs__link {
  color: #034A76 !important; /* Twój kolor wybrany */
}

/* Zmiana koloru aktywnej zakładki */
[data-md-color-scheme="delab"] .md-tabs__item--active .md-tabs__link {
  color: #034A76 !important; /* Kolor aktywnej zakładki */
  font-weight: bold; /* Pogrubienie aktywnej zakładki */
}

/* Zmiana koloru zakładki po najechaniu */
[data-md-color-scheme="delab"] .md-tabs__link:hover {
  color: #034A76 !important; /* Kolor po najechaniu */
}


h1.custom-header-title {
  margin-top: 20px;
}


/* Kontener karty */
.timeline-item {
  text-align: center;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px; /* Stała szerokość karty */
  height: 400px; /* Stała wysokość karty */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Równomierne rozłożenie elementów */
  box-sizing: border-box; /* Uwzględnia padding w wysokości */
}


/* Zamiast rely on, override any problematic 'img' class size properties */
img {
  max-width: none; /* Przełamuje domyślne skalowanie */
}

/* Styl dla pudełek tekstowych */
.tools-content-box {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

/* Ukryj boczne nawigacje na dużych ekranach */
/* Ukryj boczne nawigacje i rozciągnij treść na dużych ekranach */
@media screen and (min-width: 1024px) {
  .md-sidebar--primary,
  .md-sidebar--secondary {
    display: none;
  }

 .md-main__inner {
    grid-template-columns: 1fr !important; /* Rozciągnij treść */
  }

 .md-content {
    max-width: 100%; /* Rozciągnij treść na całą szerokość */
    width: 100%;
    margin: 0;
  }

 .md-main {
    padding: 0; /* Usuń padding, jeśli jest */
    margin: 0 auto; /* Wyrównaj treść */
  }

 .md-container {
    max-width: 100%; /* Rozciągnij całą sekcję na całą szerokość strony */
    width: 100%;
  }
}


label.md-header__button.md-icon::before {
  content: '';
  display: inline-block;
  background-image: url('assets/menu1.png'); /* Wskaż swoją ikonę */
  background-size: contain;
  width: 24px;
  height: 24px;
}

/* Ukryj oryginalne SVG */
label.md-header__button.md-icon svg {
  display: none;
}


/* Wymuszenie białego tekstu na przycisku */
.info-button {
  background-color: #034A76; /* Ciemnoniebieski kolor przycisku */
  color: #FFFFFF !important; /* Wymuszenie białego tekstu */
  text-decoration: none; /* Usunięcie podkreślenia */
  padding: 15px 30px; /* Większe wewnętrzne odstępy */
  border-radius: 50px; /* Mocno zaokrąglone rogi */
  font-size: 1.3em; /* Większy rozmiar tekstu */
  font-weight: bold; /* Pogrubienie tekstu */
  display: inline-block; /* Blokowy styl dla stylizacji */
  transition: all 0.3s ease; /* Płynna animacja na hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lekki cień */
}

/* Hover z ciemnoniebieskim kolorem */
.info-button:hover {
  background-color: #0D3E5C; /* Ciemniejszy niebieski przy najechaniu */
  color: #FFFFFF !important; /* Wymuszenie białego tekstu przy hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Większy cień przy hover */
  transform: translateY(-2px); /* Subtelne uniesienie przycisku */
}

/* Styl dla Dzień 1 */
.day-title {
  color: #555; /* Niebieski kolor */
  font-weight: bold; /* Pogrubienie */
  font-size: 1.2em; /* Większy rozmiar tekstu */
}

/* Styl dla daty */
.day-subtitle {
  color: #555; /* Szary kolor */
  font-size: 0.9em; /* Mniejszy rozmiar tekstu */
  font-weight: normal; /* Normalna waga tekstu */
}



.event {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Dopasowanie elementów w pionie do góry */
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 10px; /* Większy odstęp między kolumnami */
}

/* Lewa strona wydarzenia */
.event-left {
  width: 40%; /* Ustal stałą szerokość lewej strony */
}

/* Prawa strona wydarzenia */
.event-right {
  width: 60%; /* Ustal stałą szerokość prawej strony */
  font-size: 1.1em;
  color: #555;
  line-height: 1.4;
  margin-top: -10px; /* Opcjonalne przesunięcie */
}

/* Tytuł wydarzenia */
.event-title {
  font-size: 1.1em;
  margin-bottom: 20px;
}



/* Jasnoszare tło */
.about-section {
  background-color: #f7f7f7;
  padding: 40px 20px;
  border-radius: 10px;
}


/* Nagłówek sekcji */
.about-title {
  text-align: center;
  font-size: 1.8em;
  color: #034A76;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* Opis sekcji */
.about-text {
  text-align: center;
  font-size: 1em;
  color: #555555;
  margin-bottom: 30px;
}

/* Kontener obszarów tematycznych */
.topics-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Pojedynczy temat */
.topic {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Ikonka tematu */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #e9f5fc;
  border-radius: 50%;
}

/* Tekst tematu */
.topic-content h3 {
  margin: 0;
  font-size: 1.2em;
  color: #034A76;
}

.topic-content p {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #555555;
}



/* Kontener główny agendy */
.agenda-container {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;
  font-family: Barlow, sans-serif;
}
/* Sekcja dni */
.agenda-days {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.agenda-day {
  background-color: #f0f0f0;
  color: #333;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.agenda-day.active {
  background-color: #2c85c993;
  color: #fff;
}
/* Harmonogram */
.agenda-schedule {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Domyślnie ukryte */
}
.agenda-schedule.active {
  display: block;
}
.agenda-schedule h3 {
  color: #034A76;
  margin-bottom: 10px;
}
.event {
  margin-bottom: 15px;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.event:last-child {
  border-bottom: none;
}
.event-time {
  font-weight: bold;
  color: #555;
  margin-top: -5px;
}
.event-title {
  color: #333;
  margin-top: 2px;
  font-weight: bold;
  margin-bottom: 35px;}


.language-switch {
    margin-left: auto; /* Umieszcza element maksymalnie na prawo */
    background-color: #034A76;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.language-switch:hover {
    background-color: #155b83; /* Zmiana koloru na hover */
}

.hidden {
  display: none;
}

.about-text-call {
  font-weight: bold;
}

.topic-content-class {
  text-align: justify;
  line-height: 1.5;
}

.info-button {
        background-color: #034A76; /* Domyślny kolor */
        color: #FFFFFF;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 50px;
        font-size: 1.3em;
        font-weight: bold;
        display: inline-block;
        transition: all 0.3s ease;
        margin: 0 10px;
}

.info-button:hover {
        background-color: #0D3E5C; /* Kolor przy hover */
}

    /* Styl dla zablokowanego przycisku */
.info-button.disabled {
        background-color: #2c84c9; /* Szary kolor */
        color: #666666; /* Przygaszony tekst */
        /*cursor: not-allowed; /* Ikona zablokowania */
        /*pointer-events: none; /* Wyłącza klikanie */
}

.info-button.disabled:hover {
        background-color: #1e5b89; /* Bez zmiany koloru przy hover */
        color: #666666;
}


.map-container {
        display: flex; /* Ustawia układ flexbox */
        gap: 20px; /* Odstęp między mapą a zdjęciem */
        align-items: center; /* Wyśrodkowanie elementów w pionie */
        justify-content: center; /* Wyśrodkowanie całego kontenera */
        max-width: 100%;
        margin: 20px auto;
        padding: 10px;
}

.map-container iframe {
        flex: 1; /* Mapka zajmuje tyle miejsca, ile jest dostępne */
        max-width: 600px; /* Maksymalna szerokość mapy */
        height: 450px; /* Stała wysokość mapy */
}

.map-image {
      flex: none; /* Wyłącza automatyczne dostosowywanie rozmiaru zdjęcia */
      width: 450px; /* Szerokość zdjęcia */
      height: auto; /* Zachowuje proporcje zdjęcia */
      border-radius: 10px; /* Zaokrąglone rogi zdjęcia */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lekki cień */
      object-fit: cover; /* Dopasowuje zdjęcie do kontenera */
}
  

.center-title {
    text-align: center;
    font-size: 40rem;
}

.location-container {
  font-size: 1.2em;
}